In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#!pip install fracdiff
from fracdiff.sklearn import FracdiffStat

In [3]:
stock_data = pd.read_csv("data/selected_stocks.csv", header = [0,1], skiprows = [2])
stock_data.head()

  Unnamed: 0_level_0  Adj Close
  Unnamed: 0_level_1          A      AAPL       ABC       ABT       ADBE
0         2000-01-03  43.929695  0.849469  2.980344  9.175173  16.274666  \
1         2000-01-04  40.573959  0.777850  2.776868  8.913024  14.909400
2         2000-01-05  38.057144  0.789232  2.992315  8.896641  15.204175
3         2000-01-06  36.608093  0.720933  3.219730  9.207942  15.328290
4         2000-01-07  39.658760  0.755083  3.638654  9.306244  16.072983

                                             ...   Volume
         ADI       ADM        ADP      ADSK  ...      WMB      WMT       WY
0  28.981533  6.548721  25.347609  8.052905  ...  2366796  8369900   973700  \
1  27.515394  6.480505  25.347609  7.660816  ...  3364720  6745100  1201700
2  27.917074  6.378182  25.103891  7.178246  ...  2731730  7018700  1184600
3  27.153872  6.412287  25.439016  6.740914  ...  8654732  6544500  1307700
4  27.917074  6.514612  26.017868  7.540173  ...  2319625  7976900  1728000


         X      XEL       XOM     XRAY      XRX      YUM     ZION
0   494100  2738600  13458200   582300  3329164  3033493  1199600
1  1202500   425200  14510800   317700  2361970  3315031   816100
2  1464500   500200  17485000  1188000  2375404  4642602  1124700
3   675000   344100  19461600   534300  1650180  3947658  1112100
4   904600   469500  16603800  1401000  2366942  6063647   782000

[5 rows x 627 columns]

In [4]:
stock_data.set_index([stock_data.columns[0]], inplace = True)
stock_data.index.name = "Date"
stock_data.head()

            Adj Close
                    A      AAPL       ABC       ABT       ADBE        ADI
Date
2000-01-03  43.929695  0.849469  2.980344  9.175173  16.274666  28.981533  \
2000-01-04  40.573959  0.777850  2.776868  8.913024  14.909400  27.515394
2000-01-05  38.057144  0.789232  2.992315  8.896641  15.204175  27.917074
2000-01-06  36.608093  0.720933  3.219730  9.207942  15.328290  27.153872
2000-01-07  39.658760  0.755083  3.638654  9.306244  16.072983  27.917074

                                                      ...   Volume
                 ADM        ADP      ADSK        AEE  ...      WMB      WMT
Date                                                  ...
2000-01-03  6.548721  25.347609  8.052905  11.028308  ...  2366796  8369900  \
2000-01-04  6.480505  25.347609  7.660816  11.028308  ...  3364720  6745100
2000-01-05  6.378182  25.103891  7.178246  11.454930  ...  2731730  7018700
2000-01-06  6.412287  25.439016  6.740914  11.412271  ...  8654732  6544500
2000-01-07  6.514612  26.017868  7.540173  11.582920  ...  2319625  7976900


                 WY        X      XEL       XOM     XRAY      XRX      YUM
Date
2000-01-03   973700   494100  2738600  13458200   582300  3329164  3033493  \
2000-01-04  1201700  1202500   425200  14510800   317700  2361970  3315031
2000-01-05  1184600  1464500   500200  17485000  1188000  2375404  4642602
2000-01-06  1307700   675000   344100  19461600   534300  1650180  3947658
2000-01-07  1728000   904600   469500  16603800  1401000  2366942  6063647


               ZION
Date
2000-01-03  1199600
2000-01-04   816100
2000-01-05  1124700
2000-01-06  1112100
2000-01-07   782000

[5 rows x 626 columns]

In [35]:
stock_returns = np.log(stock_data['Adj Close']) - np.log(stock_data['Adj Close'].shift(1))
stock_returns.dropna(inplace = True)

In [36]:
stock_returns

,A,AAPL,ABC,ABT,ADBE,ADI,ADM,ADP,ADSK,AEE,...,WMB,WMT,WY,X,XEL,XOM,XRAY,XRX,YUM,ZION
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-04,-0.079464,-0.088078,-0.070715,-0.028988,-0.087618,-0.051913,-0.010471,0.000000,-0.049914,0.000000,...,-0.022427,-0.038136,-0.038291,-0.038043,0.022765,-0.019340,0.000000,-0.047628,-0.020305,-0.049636
2000-01-05,-0.064038,0.014527,0.074724,-0.001840,0.019578,0.014493,-0.015915,-0.009662,-0.065064,0.037955,...,0.060018,-0.020620,0.051619,0.010152,0.037860,0.053082,0.017140,0.050209,0.005115,-0.001184
2000-01-06,-0.038819,-0.090514,0.073250,0.034393,0.008130,-0.027719,0.005333,0.013261,-0.062859,-0.003731,...,0.021134,0.010854,0.045717,0.006042,-0.009332,0.050405,0.001306,-0.020834,-0.008540,0.014118
2000-01-07,0.080043,0.046281,0.122316,0.010619,0.047440,0.027719,0.015832,0.022499,0.112050,0.014842,...,0.026268,0.072846,-0.033437,0.025770,0.000000,-0.002939,-0.002615,0.023408,-0.022551,0.002334
2000-01-10,0.058813,-0.017745,0.025975,-0.007067,0.037883,0.083468,0.000000,0.024292,-0.010151,-0.007394,...,-0.018693,-0.018417,-0.004369,-0.007858,0.000000,-0.014079,0.023287,-0.023408,0.039558,-0.018230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-18,0.010665,0.013574,0.000172,-0.003221,0.010599,0.022619,-0.003566,0.006847,0.031642,0.000360,...,0.008941,0.012891,0.001356,0.012253,-0.002577,0.009022,0.008929,0.002740,0.008924,0.040073
2023-05-19,-0.002093,0.000628,-0.008214,0.004232,0.029578,-0.009039,0.006027,0.003475,-0.019472,0.009076,...,0.001027,-0.010352,0.002368,-0.015913,0.000910,0.004622,-0.007684,-0.005487,-0.001229,-0.017405
2023-05-22,0.001706,-0.005496,-0.006596,-0.006262,0.002153,0.004085,0.002864,0.001618,0.012859,-0.005962,...,-0.000342,-0.008844,-0.009508,-0.005515,-0.000759,-0.012214,-0.019599,0.008219,-0.024673,0.048132
2023-05-23,-0.003492,-0.015271,-0.005764,-0.023460,-0.004391,-0.017879,0.021686,-0.004536,-0.034242,-0.010942,...,0.005119,-0.001886,-0.004103,-0.004156,-0.004412,0.013531,-0.035119,0.004764,-0.025981,0.045241
2023-05-24,-0.061310,0.001631,-0.001168,-0.016208,-0.012660,-0.081569,-0.029752,-0.007217,0.000559,-0.007037,...,-0.003751,-0.004595,-0.020769,-0.018212,-0.007038,0.011122,-0.024476,-0.028928,-0.004422,-0.014394

In [ ]:
stock_returns.to_csv("stock_returns.csv")

In [9]:
log_stock_prices = np.log1p(stock_data['Adj Close'])
log_stock_prices

,A,AAPL,ABC,ABT,ADBE,ADI,ADM,ADP,ADSK,AEE,...,WMB,WMT,WY,X,XEL,XOM,XRAY,XRX,YUM,ZION
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,3.805099,0.614898,1.381368,2.319951,2.849241,3.400582,2.021378,3.271378,2.203086,2.487263,...,2.387463,3.803839,2.552380,3.221921,2.108547,2.986754,2.047297,3.665031,1.752718,3.637869
2000-01-04,3.727474,0.575405,1.328895,2.293849,2.766910,3.350444,2.012300,3.271378,2.158809,2.487263,...,2.367117,3.766569,2.517125,3.185423,2.128575,2.968398,2.047297,3.618651,1.735962,3.589572
2000-01-05,3.665026,0.581787,1.384371,2.292195,2.785269,3.364432,1.998527,3.262084,2.101478,2.522117,...,2.421659,3.746431,2.564676,3.195158,2.162004,3.018820,2.062241,3.667546,1.740177,3.588420
2000-01-06,3.627219,0.542867,1.439771,2.323166,2.792899,3.337685,2.003139,3.274841,2.046520,2.518686,...,2.440934,3.757030,2.606948,3.200953,2.153751,3.066821,2.063381,3.647249,1.733141,3.602150
2000-01-07,3.705214,0.562516,1.534424,2.332750,2.837497,3.364432,2.016849,3.296498,2.144781,2.532340,...,2.464943,3.828234,2.576016,3.225686,2.153751,3.064019,2.061099,3.670054,1.714613,3.604421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-18,4.868611,5.170768,5.169461,4.695651,5.890068,5.264036,4.301223,5.377267,5.327099,4.435093,...,3.408173,5.026968,3.418382,3.142858,4.202750,4.670677,3.725693,2.748552,4.937706,3.340739
2023-05-19,4.866534,5.171393,5.161294,4.699844,5.919566,5.255044,4.307168,5.380726,5.307723,4.444062,...,3.409166,5.016684,3.420673,3.127637,4.203647,4.675256,3.718195,2.743417,4.936486,3.323956
2023-05-22,4.868226,5.165928,5.154736,4.693639,5.921712,5.259109,4.309993,5.382337,5.320519,4.438171,...,3.408835,5.007898,3.411478,3.122365,4.202900,4.663156,3.699077,2.751110,4.911993,3.370394
2023-05-23,4.864761,5.150745,5.149005,4.670396,5.917334,5.241324,4.331391,5.377821,5.286447,4.427358,...,3.413784,5.006025,3.407511,3.118392,4.198554,4.676560,3.664843,2.755570,4.886205,3.414114
2023-05-24,4.803939,5.152366,5.147843,4.654341,5.904708,5.160204,4.302036,5.370638,5.287004,4.420406,...,3.410157,5.001460,3.387436,3.100993,4.191622,4.687579,3.641001,2.728506,4.881817,3.400197

In [ ]:
f = FracdiffStat()

stock_tickers = list(stock_data['Adj Close'].columns)

In [ ]:
f = FracdiffStat()

stock_tickers = list(stock_data['Adj Close'].columns)

frac_adj_close = f.fit(stock_data['Adj Close'])
df_frac_order = pd.DataFrame()
df_frac_order['Adj Close'] = frac_adj_close.d_

X_frac_adj_close = frac_adj_close.transform(stock_data['Adj Close'])
df_frac_adj_close = pd.DataFrame(X_frac_adj_close, columns = stock_tickers, index=stock_data.index)


frac_log_adj_close = f.fit(log_stock_prices)
df_log_frac_order = pd.DataFrame()
df_log_frac_order['Adj Close'] = frac_log_adj_close.d_

X_frac_log_adj_close = frac_log_adj_close.transform(log_stock_prices)
df_frac_log_adj_close = pd.DataFrame(X_frac_log_adj_close, columns = stock_tickers, index=stock_data.index)


frac_volume = f.fit(stock_data['Volume'])
df_frac_order['Volume'] = frac_volume.d_

X_frac_volume = frac_volume.transform(stock_data['Volume'])
df_frac_volume = pd.DataFrame(X_frac_volume, columns = stock_tickers, index=stock_data.index)

df_frac_order.index = stock_tickers
df_log_frac_order.index = stock_tickers

In [8]:
df_frac_order

    Unnamed: 0  Adj Close  Volume
0            A   0.843750     0.0
1         AAPL   0.898438     0.0
2          ABC   0.898438     0.0
3          ABT   0.882812     0.0
4         ADBE   0.851562     0.0
..         ...        ...     ...
308        XOM   0.804688     0.0
309       XRAY   0.750000     0.0
310        XRX   0.000000     0.0
311        YUM   0.882812     0.0
312       ZION   0.710938     0.0

[313 rows x 3 columns]

In [9]:
df_frac_order['Volume'].sum()

0.328125

In [10]:
df_frac_adj_close

,Date,A,AAPL,ABC,ABT,ADBE,ADI,ADM,ADP,ADSK,...,WMB,WMT,WY,X,XEL,XOM,XRAY,XRX,YUM,ZION
0,2000-01-03,43.929695,0.849469,2.980344,9.175173,16.274666,28.981533,6.548721,25.347609,8.052905,...,9.885839,43.873116,11.837615,24.076244,7.236262,18.821234,6.746934,38.057358,4.770266,37.010761
1,2000-01-04,3.508279,0.014655,0.099215,0.813067,1.050505,2.835807,1.006184,3.168451,0.992004,...,2.097748,4.528017,2.422218,23.177519,1.071154,3.315510,1.686734,36.287239,0.463132,8.906221
2,2000-01-05,0.927110,0.051627,0.361498,0.553505,1.479299,2.654308,0.511819,1.538537,0.261031,...,1.976569,2.425899,2.276460,23.414024,0.815277,3.132996,1.170845,38.155693,0.324996,6.335719
3,2000-01-06,0.706752,-0.037862,0.354702,0.716088,1.044925,0.940520,0.461891,1.567090,0.027364,...,1.392730,2.709284,1.971281,23.555927,0.336405,2.768582,0.828785,37.368973,0.176954,5.415578
4,2000-01-07,4.629581,0.050854,0.536656,0.451918,1.486837,1.987105,0.450268,1.589879,1.112478,...,1.254504,5.031893,0.842454,24.170841,0.301018,1.507430,0.644929,38.254025,0.060318,4.291654
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5881,2023-05-18,4.769833,4.942911,2.762021,1.482712,14.050554,9.532783,1.637624,5.710822,12.905855,...,1.632634,5.131244,1.481835,22.170000,0.945169,4.828371,2.355033,14.620000,3.554911,3.457965
5882,2023-05-19,3.303013,2.911973,1.244161,2.297345,20.861085,3.813355,2.356284,5.113934,3.363228,...,1.460131,1.978025,1.529578,21.820000,1.223504,4.470817,1.823692,14.540000,2.361042,1.933624
5883,2023-05-22,3.656020,1.739921,1.352894,1.249358,11.895957,5.669404,2.246429,4.707007,8.658124,...,1.405006,1.920876,1.199363,21.700001,1.163638,2.698585,1.266625,14.660000,-0.904233,3.352537
5884,2023-05-23,2.995013,-0.086481,1.428677,-0.666567,8.635848,1.542907,3.675131,3.338978,-0.306516,...,1.552069,2.850093,1.288950,21.610001,0.937627,5.098812,0.520142,14.730000,-1.394339,3.644415
5885,2023-05-24,-4.304871,2.586192,2.178673,-0.113001,4.894320,-10.400598,0.117758,2.591959,5.271612,...,1.322326,2.519045,0.806563,21.219999,0.748722,5.207856,0.707116,14.310000,1.251051,2.109046

In [ ]:
df_frac_adj_close.to_csv("data_frac_adj_close.csv")
df_frac_volume.to_csv("data_frac_volume.csv")
df_frac_order.to_csv("data_frac_order.csv")

In [ ]:
df_frac_log_adj_close.to_csv('data/data_frac_log_adj_close.csv')
df_log_frac_order.to_csv('data/data_log_frac_order.csv')